<li class="li-0<%= wish.id % 5 %>">
  <p>投稿者：<%= wish.user_name %></p>
  <p><%= wish.content %></p>
  <p><%= wish.fulfilled ? '叶いました' : '願いごと保留中' %></p>
  <p>いいね <%= wish.likes_count %></p>
  <%= link_to '詳しく見る', wish_path(wish) %>
</li>
