<h1 style="text-align: center;"><span>短冊を書いてね</span></h1>

<div class="wish-form">
    <ul class="wish-validation-message">
        <% @wish.errors.full_messages.each do |message|%>
            <li><%=message%></li>
        <% end %>
    </ul>
    <%= form_with(model: @wish, data: { turbo: false }) do |form| %>
    <div class="form-group">
        <%= form.label '名前' %>
        <%= form.text_field :user_name, class: "form-control" %>
    </div>

    <div class="form-group">
        <%= form.label '願いごと' %>
        <%= form.text_area :content, class: "form-control" %>
    </div>

    <div class="form-group form-submit">
        <%= form.submit "お願いする", class: "btn-submit" %>
    </div>
    <% end %>
</div>

