<h1>New Wish</h1>

<%= form_with(model: @wish, local: true) do |form| %>
  <div class="form-group">
    <%= form.label '名前' %>
    <%= form.text_field :user_name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label '願いごと' %>
    <%= form.text_area :content, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.submit "お願いする", class: "btn-submit" %>
  </div>
<% end %>
